<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProiectSIAD.My.MySettings.VanzariMasini2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\VanzariMasini2.mdb"
            providerName="System.Data.OleDb" />
        <add name="ProiectSIAD.My.MySettings.VanzariMasini2ConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Master\ProiectSIAD\ProiectSIAD\VanzariMasini2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
